@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Noto+Sans:wght@300;400;600&family=Poppins&display=swap');

.navbar-body {
  background-color: rgb(240, 240, 240, 0.7);
}


.img-bgC {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 90vh;
  width: 100vw;
  opacity: 0.9;
  z-index: -1;
}

.background-one {
  clip-path: polygon(0 0, 60% 0, 46% 100%, 0% 100%);
  height: 100vh;
}

.background-two {
  clip-path: polygon(100% 0, 60% 0, 46% 100%, 100% 100%);
  height: 100vh;
}

.post-background {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}

.all-posts {
  position: absolute;
  top: 100vh;
  width: 100vw;
}

.temp {
  border: 1px solid red;
}

.App {
  text-align: center;
}

.text-hello {
  font-family: 'Lato', sans-serif;
}

.post-imgwrapper {
  height: 250px;
}

.post-img {
  height: 245px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(92, 91, 91, 0.5);
}

.post-title {
  font-size: 50px;
}

.post-profileheader {
  margin: 10px;
}

.post-desc {
  font-size: 30px;
}

.wrapper {
  width: 75vw;
  position: absolute;
  top: 25vh;
}

.post-font {
  background-color: rgb(255, 255, 255, 0.8);
  font-size: 3.5vw;
  border-radius: 2px;
}

.fit {
  width: fit-content;
}

.heading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  margin-top: 10vh;
}

.text-caption {
  font-family: "Montserrat";
  color: #000000;
  font-size: 2vw;
}

.heading-content h1 {
  font-size: 1.5em;
}




.posts-main {
  width: 50vw;
}



.post-buttons button {
  all: unset;
  margin-right: 15px;
}



.post-stats div {
  margin-top: 4px;
  margin-right: 10px;
}



.comment-position {
  position: "relative";
  right: "80px";
}

.background-one-user-null{
  clip-path: polygon(0 0, 60% 0, 46% 100%, 0% 100%);
    height: 100vh;
    
  }
  .background-two-user-null{
    height: 100vh;
    clip-path: polygon(100% 0, 60% 0, 46% 100%, 100% 100%);
  }








.user-details {
  position: relative;
  top: 140px
}




li {
  list-style: none;
}





















.about-imgLayer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  

}

.about-img {
  position: absolute;
  top: 45vh;
  width: 20vw;
  height: 30vh;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  
}

.form-head {
  position: relative;
  top: 150px;
  box-shadow: 0 15px 25px rgba(67, 67, 67, 0.5);
  width: 75vw;

}

ul {
  list-style-type: none;
}



.nav-item {
  padding-left: 2px;
  padding-right: 1rem;
  padding-top: 2px;
  font-size: large;
}







.comment-position {
  position: "relative";
  width: 49vw;
  position: relative;
  right: 136px;
}


postPage-buttons {
  position: "absolute";
  top: "80vh";
  left: "80vw";
  box-shadow: "0 4px 12px rgba(44, 44, 44, 0.5)";
  border: 2px solid red;
}


.user-image {

  background-color:#519E8A;
  height: 50vh;
  /* box-shadow: 0 30px 50px rgba(0, 135, 147, 0.5); */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;



}

.footer-body {
  background-color: #e5e5e5;
  box-shadow: 0 -2px -5px rgba(0, 135, 147, 0.5);
  position: relative;
  top: 5vh;

}

.button-interests {
  border: 2px solid #dd7973;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #dd7973;
  color: black;
  box-shadow: grey 0 2px 4px 0;
  

}


.form-tag-buttons{
  margin: "5px";
}

.form-submit-btn{
  all: unset;
  background-color: #0174b6;
  border-radius: 5px;
  color: #e5e5e5;
  width: 100%;
  height: 40px;
  border: 2px solid #0174b6 ;
}

.form-submit-btn:hover{
  background-color: white;
  color: #0174b6;

}


.error-box{
  border: 2px solid red ;
  color: red;
}

.error-text{
  
  color: red;
}
.profile-img-wrapper{
  /* border: 2px solid red ; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -100px;
  

}

.profile-img{
  width: 200px;
  height: 200px;
  /* border: 2px solid red ; */
  margin-bottom: 10px;

}

@media only screen and (max-width: 600px) {
  .profile-img-wrapper{
    top: -70px;
  }

  .profile-img{
    width: 150px;
    height: 150px;
  }

  .about-imgLayer {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    align-items: center;
    justify-content: center;
    border: 2px solid red ;
  }

  .about-img {
    border-radius: 3px;
    position: absolute;
    top: 370px;
    height: 210px;
  }

  .posts-main {
    width: 100%;
  }

  .comment-position {
    border: 2px solid red;
    position: "relative";
    width: 90vw;
    right: 60px;
  }

  .background-one {
    height: 70vh;
  }

  .background-one-user-null{
    height: 100vh;
    
  }
  .background-two-user-null{
    height: 100vh;

  }
  .background-two {
    height: 70vh;
  }

  .posts-main {
    width: 80vw;
    position: relative;
    bottom: 150px;

  }

  .user-image {
    height: 20vh;
  }

  .about-img {
    position: absolute;
    top: 175px;
    width: 50vw;
  }

/* post page  */


.post-background {
  height: 50vh;
  
}


.text-caption {
  font-size: 4vw;
}


.wrapper {
  top: 20vh;
}

/* post cards  */

.post-title {
  font-size: 28px;
}
.post-img {
  height: 200px;
  

}
.post-desc {
  margin-top: 15px;
  font-size: 20px;
  font-family: "Montserrat";
  
}

.form-head {
  position: relative;
  top: 150px;
  box-shadow: 0 15px 25px rgba(67, 67, 67, 0.5);
  width: 100%;
  
}

.post-alert{
  font-size: 15px;
}

.form-tag-wrapper {
  margin-top: 7vw;
  /* border: 2px solid red; */
  width: 100%;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}
.form-tag-buttons{
  font-size: 15px;
}
.user-post{
  margin-top: 50px;
}
}